:root{
  --mainDark:#2A2C24;
  --maiLight:#F4F7F5;
  --mainOrange:#E2711D;
  --mainYellow:#FFC857;
  --mainBlue:#30BCED;
}

body{
  background: var(--maiLight);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}


.logo{
  widows: 48px;
  height: 48px;
}

.text-yellow{
  color: var(--mainYellow);
}

.cart-icon{
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}